/* background color (purple): hex(#220026) and rgb(34, 0, 38)
   Text color (gold): hex(#DDA959) */

body {
    margin: 0;
    padding: 0;
}

html {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}
.navbar {
    background-color: #220026;
    height: auto;
    font-family: "Big Shoulders Inline Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 1.5vw;
    font-style: normal;
    opacity: 0.9;
}

.navbar-brand .navbar-item .nav-burger {
    min-height: 100vh;
}

.navbar-item {
    color: #DDA959;
}

#logo {
    min-height: 4vw;
    min-width: 4vw;
}
