.container-item {
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

#container-1 {
    background-color: red;
    overflow: hidden;
}
#container-2 {
    background-color: blue;
}
#container-3 {
    background-color: green;
}

.background_image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}