{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <!-- static files -->
    <script src="{% static 'js/jquery-3.7.1.js' %}"></script>
    <script src="{% static 'js/base_page.js' %}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'css/base_page.css' %}">

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display:wght@100..900&display=swap" rel="stylesheet">

    <!-- import custom css and js -->
    <link rel="stylesheet" href="{% static css %}">
    <script src="{% static js %}"></script>

</head>
<body>
    <!-- Navbar -->
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'portfolio:portfolio_page' %}">
          <img src="{% static  'images/logo.png' %}" id="logo">
        </a>
        <a class="navbar-item">About</a>
        <a class="navbar-item">Skills</a>
        <a class="navbar-item">Experience</a>
        <a class="navbar-item">Projects</a>
        <a class="navbar-item">Contact</a>
      </div>
    </nav>


    {% block content %}{% endblock %}

</body>
</html>