{% extends "portfolio/base.html" %}
{% load static %}
{% block title %}Anishkumar Dhamelia{% endblock %}

{% block content %}
    <div class="container_main">
        <div id="container-1" class="container-item" >
            <div class="background-image" style="background-image: url('{% static 'images/background_1.jpg' %}')">
                <div class="container-content-1">
                    <div class="container-content-1-box">
                        <div class="container-content-1-box-content">
                            <h1 id="name">Anishkumar Rasik Dhamelia</h1>
                            <p id="title" style="font-size: 2.5vw;">software developer</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div id="container-2" class="container-item">
             <div class="background-image" style="background-image: url('{% static 'images/background_2.jpg' %}')">
                <div class="container-content-2">

                    <div class="container-content-2-item" id="about">
                        <h1 id="about-name">Hi, I am Anishkumar</h1>
                        <p id="about-title">a proficient computer science engineer. My expertise lies in software development and data analytics, where I have successfully implemented advanced technological solutions in the fields such as Quantum Computing, Artificial Intelligence and Web Development . I thrive in blending complex algorithms with practical applications and my career is marked by a commitment to groundbreaking research and technical excellence.</p>
                        <div id="about-quote-box"><p id="about-quote">"Programming is like building a circuit-board, with given inputs and their desired outputs. Our goal as developers is to wire these inputs with their outputs using the least amount of time and space." ~ me</p></div>

                        <div class="popup-container" id="popup-container">
                            <div class="popup" id="popup">
                                <img id="popup-image" src="">
                                <div id="popup-info">
                                    <h1 class="popup-info-text" id="popup-university"></h1>
                                    <h1 class="popup-info-text" id="popup-gpa"></h1>
                                    <h1 class="popup-info-text" id="popup-year"></h1>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="container-content-2-item" id="education">
                        <div class="education-box" id="master-degree">
                            <img src="{% static  'images/master_degree.png' %}" alt="master_degree.png" class="degree-image">
                        </div>
                        <div class="education-box" id="bachelor-degree">
                            <img src="{% static  'images/bachelor_degree.png' %}" alt="bachelor_degree.png" class="degree-image">
                        </div>
                    </div>


                </div>
             </div>
        </div>

        <div id="container-3" class="container-item">
             <div class="background-image" style="background-image: url('{% static 'images/background_3.jpg' %}')">
                 <div class="container-content-3">
                     <div class="container-content-3-item" id="content-3-item-1">
                         <div class="project-head">
                             <img src="{% static  'images/project-stock-manager.jpg' %}" alt="project-stock-manager" class="head-image">
                             <div class="head-description">
                                 <h1 style="font-size: 2.4vh;">Stock Manager Website</h1>
                                 <div class="head-description-tag">
                                     <span class="head-tag">Django</span>
                                     <span class="head-tag">Python</span>
                                     <span class="head-tag">Sqlite</span>
                                     <span class="head-tag">Materialize</span>
                                     <span class="head-tag">javascript</span>
                                 </div>
                             </div>
                         </div>
                         <div class="project-tail"></div>
                     </div>

                     <div class="container-content-3-item" id="content-3-item-2">
                         <div class="project-tail-inverted"></div>
                         <div class="project-head-inverted">
                             <img src="{% static  'images/project-hit-song.png' %}" alt="project-hit-song" class="head-image">
                             <div class="head-description">
                                 <h1 style="font-size: 2.4vh;">Hit-Song Prediction</h1>
                                 <div class="head-description-tag">
                                     <span class="head-tag">Machine-learning</span>
                                     <span class="head-tag">Sklearn</span>
                                     <span class="head-tag">matplotlib</span>
                                     <span class="head-tag">data-preprocessing</span>
                                     <span class="head-tag">R</span>
                                 </div>
                             </div>
                         </div>

                     </div>


                     <div class="container-content-3-item" id="content-3-item-3">
                         <div class="project-head">
                             <img src="{% static  'images/project-stevens-overflow.jpg' %}" alt="project-stevens-overflow" class="head-image">
                             <div class="head-description">
                                 <h1 style="font-size: 2.4vh;">Stevens Stack Overflow</h1>
                                 <div class="head-description-tag">
                                     <span class="head-tag">Node.js</span>
                                     <span class="head-tag">Tailwind-css</span>
                                     <span class="head-tag">mongoDb</span>
                                     <span class="head-tag">express</span>
                                     <span class="head-tag">jquery</span>
                                 </div>
                             </div>
                         </div>
                         <div class="project-tail"></div>
                     </div>

                     <div class="container-content-3-item"  id="content-3-item-4">
                         <div class="project-tail-inverted"></div>
                         <div class="project-head-inverted">
                             <img src="{% static  'images/project-image-captioning.png' %}" alt="project-image-captioning" class="head-image">
                             <div class="head-description">
                                 <h1 style="font-size: 2.4vh;">Image Captioning</h1>
                                 <div class="head-description-tag">
                                     <span class="head-tag">Deep-Learning</span>
                                     <span class="head-tag">Artificial-Intelligence</span>
                                     <span class="head-tag">CNN-RNN</span>
                                 </div>
                             </div>
                         </div>

                     </div>

                     <div class="container-content-3-item"  id="content-3-item-5">
                         <div class="project-head">
                             <img src="{% static  'images/project-slam-algorithm.png' %}" alt="project-slam-algorithm" class="head-image">
                             <div class="head-description">
                                 <h1 style="font-size: 2.4vh;">SLAM algorithm</h1>
                                 <div class="head-description-tag">
                                     <span class="head-tag">MATLAB</span>
                                     <span class="head-tag">Robot Operating System</span>
                                     <span class="head-tag">Rviz</span>
                                 </div>
                             </div>
                         </div>
                         <div class="project-tail"></div>
                     </div>

                 </div>
            </div>
        </div>

        <div id="container-4" class="container-item">
             <div class="background-image" style="background-image: url('{% static 'images/background_4.jpg' %}')">
                <!-- Content goes here -->
            </div>
        </div>


    </div>

{% endblock %}